main{
    text-align: center;
}
h2{
    margin-top :5vh;
}
.maison{
    width: 70vw;
    height: auto;
}

#slider{
    position: relative;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom : 10vh;
    background-color: #344966;

}

#previous,
#next {
    display: flex;
    position: absolute;
    color: rgb(241, 235, 235);
    font-size:5em;

}

.introd{
    margin-top: 5vh;
    margin-bottom: 5vh;
    max-width :60vw;

}
.introduction{
    display: flex;
    justify-content: center;

}
.pouet{
    background-color: #344966;
    color: rgb(241, 235, 235);
}

#previous {
    left: 10vw;
}

#next {
    right: 10vw;
}


#slider:hover #previous,
#slider:hover #next{
    opacity: 1;
}