main{
    text-align: center;
    background-color: rgb(241, 235, 235);

}
h2{
    padding-top :5vh;
}
.imgMaison{
    width: 70vw;
    height: auto;
}

#slider{
    position: relative;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
    background-color: #344966;

}

#previous,
#next {
    display: flex;
    position: absolute;
    color: rgb(241, 235, 235);
    font-size : 2em

}

.introd{
    margin-top: 5vh;
    margin-bottom: 5vh;
    max-width :60vw;

}
.introduction{
    display: flex;
    justify-content: center;

}
.fBleu{
    background-color: #344966;
    color: rgb(241, 235, 235);
}
.fBlanc{
    color: #344966;
}
#previous {
    left: 5vw;
}

#next {
    right: 5vw;
}


#slider:hover #previous,
#slider:hover #next{
    opacity: 1;
}

@media screen and (min-width : 720px){
    #previous, #next{
        font-size:3em;
    }
    #previous {
        left: 8vw;
    }
    
    #next {
        right: 8vw;
    }

}

@media screen and (min-width : 1024px){
    #previous, #next{
        font-size:5em;
    }
    #previous {
        left: 8vw;
    }
    
    #next {
        right: 8vw;
    }
}