main{
    text-align: center;
}

.maison{
    width: 80vw;
    height: auto;
}

#slider{
    position: relative;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom : 10vh;
}

#previous,
#next {
    transition: opacity 0.3s ease;
    opacity: 0;
    display: flex;
    position: absolute;
    background-color: rgba(255, 0, 0, 0.8);
    padding: 10px;
}

#previous {
    left: 10vw;
    height: 1vw;
}

#next {
    right: 10vw;
}

#slider:hover #previous,
#slider:hover #next{
    opacity: 1;
}